body {
    font-size: 16px;
    line-height: 1;
    background-image: url(images/weather.jpg);
    background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     width: 100vw;
  }

h1 {
    padding-bottom: 10px;
    padding-top: 10px;
}

aside {
    margin-left: 10px;
}

#weatherToday {
    padding-left: 20px;
}

